{
  "presets": ["babel-preset-expo", "es2015", "stage-1"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source","transform-decorators-legacy"]
    }
  }
}
